@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* SelectComponent.css */

/* Custom select container */
.custom-select {
  position: relative;
  width: 15%;
}

/* Custom arrow */
.arrow {  
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 30px;
}


